[Unit]
Description=API for the M-Bot front-end
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/python3 /data/www/mbot/api/api.py
User=mbot
[Install]
WantedBy=multi-user.target